# Build objects
obj/

# Binary
ft_nmap

# Local test binaries
bin/

# Project files not to keep in git
ft_nmap-correction-page.pdf
project-overview.md

# Editor swap / backup files
*~
*.swp


correction-page-part-1.png
subject-part-1.png
subject-part-4.png
subject-part-7.png
correction-page-part-2.png
subject-part-2.png
subject-part-5.png
correction-page-part-3.png
subject-part-3.png
subject-part-6.png

TODO.md